{% load socialaccount %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some title</title>
</head>
<body>
<div class="hello">
    Hi to everyone reads this
    {% if request.user.is_authenticated %}
        <div>
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar">
        </div>
        <div>
            {% user_display user %}
        </div>
        <div>
            <a href="{% url 'account_logout' %}">
                Logout
            </a>
        </div>
    {% else %}
        <div>
            <a href="{% provider_login_url 'vk' %}">
                Login via VK
            </a>
        </div>
        <div>
            <a href="{% provider_login_url 'google' %}">
                Login via GOOGLE
            </a>
        </div>
    {% endif %}
</div>
</body>
</html>