{% extends 'base.html' %}
{% load account %}
{% load static %}

{% block head %}
  {#  YMaps do not work without referer header  #}
  <meta name="referrer" content="origin"/>
  {#  TODO: move api key to .env  #}
  <script src="https://api-maps.yandex.ru/3.0/?apikey=4ea56e6e-4561-4712-9f69-ece12b9cdd85&lang=ru_RU"></script>
  <script src="{% static 'places_remember_app/js/placesList.js' %}"></script>
{% endblock %}

{% block content %}
  <div>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar">
  </div>
  <div>
    {% user_display user %}
  </div>
  <div>
    <a href="{% url 'account_logout' %}">
      Logout
    </a>
  </div>
  <div class="add-place-popup">
    <form action="{% url 'places' %}" method="post" class="add-place-form">
      {% csrf_token %}
      <input name="longitude" type="hidden" class="longitude-input add-place-form__input">
      <input name="latitude" type="hidden" class="latitude-input add-place-form__input">
      <label for="place-title">Название</label>
      <input name="title" id="place-title" type="text" class="place-title-input add-place-form__input">
      <label for="place-description">Комментарий</label>
      <textarea name="description" id="place-description"
                class="place-description-input add-place-form__input"></textarea>
      <input type="submit">
    </form>
  </div>
  <div id="map" style="width: 600px; height: 400px"></div>
  <div class="places">
    {% for place in place_list %}
      <div class="place places__item">
        <a href="{% url 'places_detail' place.id %}">
          <div class="place__title">
            {{ place.title }}
          </div>
          <div class="place__description">
            {{ place.description }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

